body {
  background-color: #295837;
  color: white;
}

a {
  color: white;
}

.container {
  height: 15rem;
  width: 15rem;
  margin: auto;
}

#bookcontainer {
  text-align: center;
}

.button {
  display: block;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background: #d8d8d8;
  border-radius: 5px;
  margin: auto;
  border: 1px solid white;
  transition: 0.5s all;
}

.button:hover {
  cursor: pointer;
  background: white;
}

.loading {
  height: 3rem;
  width: 3rem;
  border: 4px solid white;
  animation: 1s linear loading infinite;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  margin: auto;
  margin-top: 2rem;
}


@keyframes loading {
  100%{
    transform: rotate(360deg);
  }
}
