body {
  background-color: #295837;
  color: white;
}

a {
  color: white;
}

.container {
  height: 15rem;
  width: 15rem;
  margin: auto;
}

#bookcontainer {
  text-align: center;
}

.button {
  display: block;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background: #d8d8d8;
  border-radius: 5px;
  margin: auto;
  border: 1px solid white;
  transition: 0.5s all;
}

.button:hover {
  cursor: pointer;
  background: white;
}
